/* 共通CSS */
.container {
    margin: 0 auto;
    padding: 20px;
    /* text-align: center; */
}

p {
    margin: 5px;
}

td {
    padding: 5px;
}

h4 {
    margin: 5px;
}

.bigButton {
    font-size: 18px;
    padding: 10px 15px;
    margin: 5px;
}

button {
    margin: 5px;
}

#time {
    display: block;
}

input[type="radio"] {
    transform: scale(1.5);
}

#memo {
    width: 200px;
    padding: 10px;
    margin: 5px;
}

.plotArea {
    margin: 10px;
}

#plots {
    display: flex;
    flex-wrap: wrap;
}

.card {
    flex: 1;
    min-width: 400px;
}

.cardContent {
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    width: 400px;
    /* height: 400px; */
}