/* 共通CSS */
/* スタイルの設定 */
.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
}

h1 {
    margin-bottom: 20px;
}

table {
    margin: 20px auto;
}

td {
    padding: 5px;
}

.bigButton {
    font-size: 18px;
    padding: 10px 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}

#time {
    display: block;
}

input[type="radio"] {
    transform: scale(1.5);
    margin-right: 5px;
}

#memo {
    width: 200px;
    padding: 10px;
    margin-bottom: 20px;
}